:root {
  background-color: black;
  color: white;
  font-family: IBMWeb, monospace;
  font-size: 1.em;
  /* Variables */
  /* Used for padding and gap */
  --spacing: 10px;
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing) * 4);
  --margin-inline-text: 0px;
  --margin-inline: 16px;
  --margin-block: var(--spacing);
  --foreground: hsl(0, 0%, 65%);
}

body {
  margin: 0px;
  padding: 0px;
}

body div.wrapper {
  padding: var(--spacing-medium);
  margin: auto;
  max-width: 702px;
  box-shadow: 0px 0px 48px white;
}

body .love {
  text-shadow: 0px 0px 24px white;
  width: fit-content;
  padding: var(--spacing);
}

div.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: IBMWeb;
  src: url('/fonts/ibm9x16.woff');
}

/* Margin Normalisation */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-inline: var(--margin-inline-text);
  margin-block: var(--margin-block);
}

blockquote {
  padding-inline: var(--margin-inline);
  margin-inline: 0px;
  margin-block: var(--margin-block);
  border-left: 2px solid var(--foreground);
  font-style: italic;
}

/* Font normalization */
button,
code {
  font-size: inherit;
  font-family: inherit;
}

p,
ul,
ol,
li,
summary {
  color: var(--foreground);
}

a {
  color: #287bff;
}

a:hover,
a:hover:visited {
  color: white;
  background-color: #287bff;
}

/* make sure the 88x31 buttons don't have a background color applied, lol */
.webButton:hover {
  background-color: transparent;
}

/* actually did not look that good */
/* a:visited {
  color: #e600ff;
} */

button {
  border: 2px solid white;
  border-radius: 2px;
  background-color: inherit;
  color: inherit;
  font-family: IBMWeb, monospace;
}

code {
  color: #e443a9;
}

code p {
  outline: 1px solid var(--foreground);
  width: fit-content;
  padding: var(--spacing-medium);
  color: #e443a9;
}

summary {
  cursor: pointer;
}

.secretlove {
  width: fit-content;
  height: fit-content;
  position: fixed;
  opacity: 0;
  top: 92vh;
  right: 24px;
  transition: 1s;
}

.secretlove:hover {
  opacity: 1;
}

.secretlove a:hover {
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: white;
    color: black;
    --foreground: hsl(0, 0%, 50%);
  }

  body div.wrapper {
    box-shadow: 0px 0px 48px hsl(0, 0%, 35%);
  }

  body .love {
    text-shadow: 0px 0px 24px hsl(0, 0%, 35%);
  }
}